{
	"root": true,
	"extends": [
		"eslint:recommended"
	],
	"rules": {
		"quotes": ["error", "single"],
		"dot-notation": "off",
		"no-underscore-dangle": "off",
		"no-shadow": "off",
		"no-use-before-define": ["error", "nofunc"],
		"no-unused-vars": ["error", {
			"vars": "all",
			"args": "none"
		}],
		"consistent-return": "off",
		"no-console": "error"
	},
	"env": {
		"node": true
	}
}
